@model IEnumerable<AStore.Data.Categories>

<nav class="navbar ">
    <div class="container-fluid">
        <div>
            <ul class="nav navbar-nav">
                <li class="active">
                    @Html.ActionLink("Home", "Index", "Home", null, null)
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        @foreach (var link in Model)
                        {
                            <li>
                                @Html.RouteLink(link.Name, new
                            {
                                controller = "Product",
                                action = "List",
                                category = link.Name,
                                page = 1
                            })
                            </li>
                        }
                    </ul>
                </li>
                <li class="">
                    @Html.ActionLink("Payment And Delivery", "PaymentAndDelivery", "PaymentAndDelivery", null, null)
                </li>
                <li>
                    @Html.ActionLink("Contact us", "Contacts", "Contacts", null, null)
                </li>
                <li>
                    @Html.ActionLink("About", "About", "About", null, null)
                </li>
            </ul>
        </div>
    </div>
</nav>