<div class="container">
    <div class="col-md-12">
        <header class="content-title">
            <h1 class="title">Shopping Cart</h1>
        </header>
        <div class="xs-margin"></div>
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table class="table cart-table">
                    <thead>
                    <tr>
                        <th class="table-title">@ViewRes.Cart.ProductNameHeader</th>
                        <th class="table-title">@ViewRes.Cart.ProductCodeHeader</th>
                        <th class="table-title">@ViewRes.Cart.UnitPriceHeader</th>
                        <th class="table-title">@ViewRes.Cart.QuantityHeader</th>
                        <th class="table-title">@ViewRes.Cart.SubTotalHeader</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>